ABS[[:space:]]-[[:space:]]ASGS[[:space:]]2021[[:space:]]-[[:space:]]Suburbs[[:space:]]and[[:space:]]Localities[[:space:]](GDA2020)[[:space:]]-[[:space:]]Accessed[[:space:]]from[[:space:]]abs.gov.au[[:space:]]02-11-2021.gpkg.zip filter=lfs diff=lfs merge=lfs -text
